<div class="post">
    <div class="post__head">
        <span class="post__id">#{{ db.dereference(post)["id"] }}</span>
        <span class="post__time">{{ db.dereference(post)["timestamp"] }}</span>
    </div>
    <div class="post__body">
        <div class="post__text">
            
            {% block post_text %}
                {{ parser.format(db.dereference(post)["text"]) | safe }}
            {% endblock %}
        </div>
    </div>
    {% if db.dereference(post)['attachments'] %}
    <div class="post__attachments">
        {% include "layout/attachment.html" %}
            </div>
        </div>
    </div>
    {% endif %}
        
    
    
    {% if db.dereference(post)['replies'] %}
    <div class="post__replies">
        {% for reply in db.dereference(post)['replies'] %}
                <a href="#" post_id="{{ db.dereference(reply)['id']}}">>>{{ db.dereference(reply)['id']}}</a>
        {% endfor %}
    </div>
    {% endif %}
</div>