<div class="thread">
    <div class="thread__head">
        <div class="post__head">
            <span class="post__id">#{{ db.dereference(thread["ref"])["id"]}}</span>
            <span class="post__time">{{ db.dereference(thread["ref"])["timestamp"] }}</span>
            <span class="post__title"><strong>{{ db.dereference(thread["ref"])["title"] }}</strong></span>
            <a href="/b/{{ db.dereference(thread['ref'])['id'] }}">Перейти в тред</a>
        </div>
        <div class="post__body">
            <div class="post__text">
                {{db.dereference(thread["ref"])["text"]}}
            </div>
            <div class="post__attachments">

            </div>
            <div class="post__replies">
                
            </div>
        </div>
    </div>
    {% for post in db.dereference(thread["ref"])["posts"] %} 
        {% include "layout/post.html" %}
    {% endfor %}
</div>