<div class="thread">
    <div class="thread__head">
        <div class="post__head">
            <span class="post__id">#{{ thread['id']}}</span>
            <span class="post__time">{{ thread["timestamp"] }}</span>
            <span class="post__title"><strong>{{ thread["title"] }}</strong></span>
            {% if isThread == False %}
                <a href="./{{ thread['id'] }}">Перейти в тред</a>
            {% endif %}

        </div>
        <div class="post__body">
            <div class="post__text">
                <!-- {{board["board_name"]}} -->
                {{ parser.format(thread["text"]) | safe }}
            </div>
            
            {% if thread[attachment] %}
            <div class="post__attachments">
                        <div class="attachment">
                            <div class="attachment__info">pezda.jpg 128x128 (8mb)</div>
                            <div class="attachment__content">
                                <img src="/{{board["board_name"]}}/attachment/{{thread['id']}}/" alt="">
                            </div>
                        </div>
                    </div>
            {% endif %}
            {% if thread['replies'] %}
            <div class="post__replies">
                    {% for reply in thread['replies'] %}
                        <a href="#" post_id="{{ db.dereference(reply)['id']}}">>>{{ db.dereference(reply)['id']}}</a>
                    {% endfor %}
                    
                </div>
            {% endif %}
        </div>
    </div>
    {% if isThread == false %}
        {% if thread["posts"]|length > 3 %}
            <div>
                Пропущенно постов: {{ thread["posts"]|length -3 }} 
                <br><br>
            </div>
            
            {# Временное решение. Если скрыть последний пост. Будет отрисовываться только два вместо трех. #}
            {% for post in thread["posts"][-3:] %} 
                {% if not db.dereference(post)["hidden"] %}
                    {% include "layout/post.html" %}
                {% endif %}
            {% endfor %}
        {%  else %}
            {% for post in thread["posts"] %} 
                {% if not db.dereference(post)["hidden"] %}
                    {% include "layout/post.html" %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% else %}
        {% for post in thread["posts"] %} 
            {% if not db.dereference(post)["hidden"] %}
                {% include "layout/post.html" %}
            {% endif %}
        {% endfor %}
        {% include "layout/messagebox.html" %}
    {% endif %}
</div>
